<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title || "" %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description || '' %>">
    <link rel="stylesheet" href="/static/css/global.css">
</head>

<body>
    <div style="width: 90%; margin: auto;background-color: #ececec; padding: 10px;">
        <main>
            <%- include('../' + body) %>
        </main>
    </div>
    <footer>
        <p>© 2026 Main Layout</p>
    </footer>
    <script src="/static/js/script.js"></script>

</body>

</html>