<section style=" display: flex; flex-direction: column; justify-content: center;align-items: center; ">
    <a href="/docs">API Documentation</a>
    <br />
    <nav>
        <a href="/contact">Contact</a> |
        <a href="/about">About</a>
    </nav>
    <img src="/static/assets/images/mem-villain.png"style="object-fit: cover;width: 100%;height: auto; max-width: 1050px;" />
</section>