<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <div style="width: 90%; margin: auto;background-color: #ececec; padding: 10px;">
        <section style=" display: flex; flex-direction: column; justify-content: center;align-items: center; ">
            <a href="/docs">API Documentation</a>
            <br/>
            <img src="/public/assets/images/mem-villain.png" style="object-fit: cover;width: 100%;height: auto; max-width: 1050px;" />
        </section>
    </div>
</body>
</html>